<div id="footer">
    <div id="footer-main">
        {{ themeConfig.footer|safe }}
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script src="/header-particles.js"></script>