<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.code }} | {{ website.name }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="error-wrapper">
    <div id="error">
        <h1>{{ data.code }}</h1>
        <h2>{{ data.message }}</h2>
    </div>
</body>
</html>