<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册 | {{ website.name }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="register-wrapper">
    <form action="/api/register/" method="post" id="register" autocomplete="off">
        <h1>Register</h1>
        <label>用户名：
            <input type="text" name="username" required>
        </label>
        <label>邮箱：
            <input type="email" name="email" required>
        </label>
        <label>密码：
            <input type="password" name="password" required>
        </label>
        <label>确认密码：
            <input type="password" name="confirmpassword" required>
        </label>
        <label>验证码：
            <input type="text" name="authcode" required>
        </label>
        <input type="button" value="获取验证码" id="getauthcode">
        <input type="submit" value="注 册">
        <p><a href="/login/">已有账号,去登录</a></p>
    </form>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="/tip.js"></script>
    <script src="/register.js"></script>
</body>
</html>